@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap");

.font {
  font-family: "Montserrat" !important;
}

.success {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-bottom: 50px;
}

.markcon {
  display: flex;
  border: 2px solid green;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
}

.con {
  text-align: center;
}
